@import "tailwindcss";
@import "@heroui/styles";


/* Светлая тема */
:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
}

/* Темная тема */
.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}